@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 767px) {
  body {
    display: none; /* Hides the entire website on small screens */
  }
}